/*Mobile first methodology in mind here. Each mixin is for when a screen meets at least the specified width. atSmall would be called for when a screen is at least 530px wide, and so on.*/
@define-mixin atSmall{
    @media (min-width: 530px){
        @mixin-content;
    }
}

@define-mixin atMedium{
    @media (min-width: 800px){
        @mixin-content;
    }
}

@define-mixin atLarge{
    @media (min-width: 1200px){
        @mixin-content;
    }
}

@define-mixin clearFix {
    /*Applies these styles after the parent row class ends*/
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}