.large-hero {
    position: relative;

    &__text-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); /*positions element on the Y axis relative to the elements total height. 0 is the neutral/base position*/
        left: 0;
        width: 100%;
        text-align: center;
    }

    &__title {
        font-weight: 300;
        color:#2f5572;
        font-size: 4.8rem
    }

    &__subtitle {
        font-weight: 300;
        color:#2f5572;
        font-size: 2.9rem
    }
}